<h3>Tiimin {{eot.game.currentTeamName()}} tulokset</h3>
<span style="font-style: italic">Klikkaa sanaa siirtääksesi sen kategoriasta toiseen.</span>
<div id="skippedWords">
    Skipatut sanat: <br/>
    <span ng-repeat="(key, word) in eot.words.skippedWords" ng-click="eot.fixAsGuessed(key, word)">{{word}}<br/></span>
</div>
<div id="guessedWords">
    Arvatut sanat: <br/>
    <span ng-repeat="(key, word) in eot.words.guessedWords" ng-click="eot.fixAsSkipped(key, word)">{{word}}<br/></span>
</div>
<div class="clear">&nbsp;</div>
<div id="lastWord" ng-show="eot.words.lastWordGuessed">
    Viimeisin arvattu sana oli {{eot.words.lastWord}} ja sen arvasi:<br/>
    <select title="Tiimin nimi" ng-model="eot.lastGuessTeam">
        <option value="-1">Ei kukaan</option>
        <option ng-repeat="(key, team) in eot.game.teams"
                ng-show="eot.game.settings.teamcount > key"
                value="{{key}}">{{team.name}}</option>
    </select> 
</div>
<br/>
<input id="nextTurn" type="button" value="Seuraava!" ng-click="eot.toNextTurn()"/><br/>
