<form ng-submit="setup.done()">
    <h3>Asetukset:</h3>
    <div class="formAlign">
        <label>Montako tiimi&auml;?</label>
        <input type="number" ng-model="setup.game.settings.teamcount" min="2" max="8"/><br/>
        <label>Aikaraja: </label><input ng-model="setup.game.settings.timelimit" 
                                        type="number" max="120"/><br/>
        <label>Pisteraja: </label><input ng-model="setup.game.settings.pointlimit" 
                                         type="number" max="99"/>
    </div>
    <br/>
    <br/>
    <span>Tiimien nimet:</span>
    <div id="teaminputs" ng-repeat="(key, team) in setup.game.teams">
        <input type="text" ng-model="team.name" size="16" 
               ng-show="setup.game.settings.teamcount > {{key}}"
               ng-click="team.name = ''" required
               placeholder="Tiimi {{key + 1}}"/>
    </div>
    <input type="submit" value="Aloita!"/>
<form/>
