<h3>Tiimin {{eot.game.currentTeamName()}} tulokset</h3>
<span style="font-style: italic">Klikkaa sanaa siirtääksesi sen kategoriasta toiseen.</span>
<div id="skippedWords">
    Skipatut sanat: <br/>
    <span ng-repeat="(key, word) in eot.words.skippedWords" ng-click="eot.fixAsGuessed(key, word)">{{word}}<br/></span>
</div>
<div id="guessedWords">
    Arvatut sanat: <br/>
    <span ng-repeat="(key, word) in eot.words.guessedWords" ng-click="eot.fixAsSkipped(key, word)">{{word}}<br/></span>
</div>
<div class="clear">&nbsp;</div>
<div id="lastWord" ng-show="eot.wasLastWordGuessed()">
</div>
<br/>
<input id="nextTurn" type="button" value="Seuraava!" ng-click="eot.toNextTurn()"/><br/>
