<h3>Tiimin {{ctrl.game.currentTeamName()}} vuoro.</h3>
<span ng-hide="ctrl.game.isTurnLive()">Klikkaa korttia aloittaaksesi</span>
<div id="swipearea">
    <span class="gameButton buttonSkip" ng-click="ctrl.clickSkip()">
        &nbsp;
    </span>
   <div class="card-img" 
        ng-style="{'background-image': 'url(' + ctrl.cardImages[ctrl.game.guessing] + ')'}"
        ng-click="ctrl.startTurn()">
       <h2 id="word">
           {{ctrl.currentWord}}
       </h2>
    </div>
    <span class="gameButton buttonCorrect" ng-click="ctrl.clickCorrect()">
        &nbsp;
    </span>
</div>
<div id="timearea" ng-show="ctrl.game.isTurnLive()">
    {{ctrl.timeText()}}
</div>